---
import Layout from "../../layouts/Slaynews.astro";
import { getCollection } from "astro:content";
import { render } from "astro:content";
import { resolveContentImage } from "../../lib/resolveContentImage";

export async function getStaticPaths() {
  const wiki = await getCollection("wiki");
  return wiki.map((page) => ({
    params: { id: page.id },
    props: { page },
  }));
}

const { page } = Astro.props;
const { Content } = await render(page);
---
<Layout>
  <article class="slaynews-article">
    <header class="article-header">
      <h1>{page.data.title}</h1>
      <p>{page.data.description}</p>
    </header>

      <div class="media-panel">
        <img
          src={resolveContentImage(page.data.image)}
          alt={page.data.title}
          class="article-image"
        />

      <div class="content-markdown">
        <Content />
      </div>
    </section>
  </article>
</Layout>
<style>
</style> 