---
import WikiCollectionDemo from '../../components/slaynews/WikiCollectionDemo.astro';
import Layout from "../../layouts/Slaynews.astro";
---
<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<Layout>
	<h1>Wiki — Demo</h1>
	<WikiCollectionDemo />
</Layout>
