---
import Layout from '../../layouts/Travel.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <h1>О НАС</h1>
    <p>AnyLocation, изначально известный как ChanceTravel, был разработан командой NowYouGo из Опенспейс-Кубиклов.
    Команда специализируется на закрытии нишевых запросов рынка, и одним из таких является агрегатор тревел агенств: уникальное совмещение
    сайта с отзывами без излишней модерации и возможности тут же забронировать тур не выходя с сайта. Для тур-агенств и отелей это восхитительная
    возможность не тратиться на рекламу и находиться в одном списке с самыми лучшими решениями.
    </p>
    
</Layout>