<div class="titlecard">
    <h1>ШансТревел</h1>
    <h2>Твои отпускные - наша ответственность!</h2>
</div>

<style>
    h1 {
        color: rgb(255, 255, 255);
        font-family: 'Arial Black', Arial, sans-serif;
        font-size: 80px;
        margin: 0px;
    }
    h2{
        color: white;
        margin: 0px;
    }
    .titlecard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient(#8e90f5fb 0%, #2e3485bd 5%, #2b2068e5 100%);
        height: 80vh;
        width: 100%;
    }
    @media screen and (min-width: 767px) {
        h1 {
            font-size: 120px;
        }
    }
</style>
