---
import Layout from "../layouts/Home.astro";
import Card from "../components/card.astro";
import Logo from "../assets/logo.png";
---

<Layout>
  <img src={Logo.src} alt="ChanceCorp Logo" class = "logo"/>

  <h1>CHANCECORP</h1>
  <p>ChanceCorp - компания-монополист во всех сферах. Мы делаем всё, что только можно представить, благодаря чему компания и её здания находятся на полном самообеспечении.
    Всё, от еды до инновационных компьютеров проходит полный цикл производства в наших стенах.
  </p>
  <p>Как мы этого добиваемся? При помощи нашей инновационной модели Н.А.Л.О.Г.И. - "Награждение Активных Личных и Общественно-Гражданских Инициатив". Каждый активный гражданин
    имеет возможность накопив стартовый капитал открыть своё дело: филиал ChanceCorp под своим управлением. У него может быть собственное управление, брендинг и производство, а также он может
    заключать сделки с другими автономными филиалами. Это позволяет нам расширяться в самых актуальных направлениях и
    закрывать потребности сотрудников как никогда уверенно. Доход всех филиалов принадлежит ChanceCorp, но за проделанную работу держателю филиала выделяется до 90% комиссионных.</p>
    <p>Н.А.Л.О.Г.И. - это главный продукт компании, система, которая позволяет реализовать идеи и мечты каждого гражданина. Мы стремимся к тому, чтобы все филиалф были автономными.
      Например, совсем недавно собственный HR отдел компании-монополиста был распущен, и нанят частный филиал HR агенства "Calmar".</p>
  
</Layout>

<style>

  html {
    background-color: rgb(0, 38, 255);
    color: white;
  }
  .logo {
    display: block;
    margin: 0 auto;
    height: 100vh;
  }
  @media (max-width: 600px) {
    .logo {
      width: 100vw;
    }
    h1 {
      font-size: 4rem;
    }
    p {
      font-size: 1.2rem;
      max-width: 90%;
    }
  }
  h1 {
    font-size: 8rem;
    margin-top: 2rem;
    margin-bottom: 0;
    text-align: center;
    font-weight: 900;
    font-family: "Arial Black", Arial, sans-serif;
  }
  p {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    max-width: 600px;
    margin: 2rem auto;
    margin-top: 0;
  }
</style>
