---
import Layout from "../layouts/Home.astro";
import Card from "../components/card.astro";
import Logo from "../assets/logo.png";
---

<Layout>
  *сайт в разработке
  <img src={Logo.src} alt="ChanceCorp Logo" class = "logo"/>

  <h1>CHANCECORP</h1>
  
</Layout>

<style>

:global(html) {
    background: linear-gradient(
      to bottom,
      #af0000 0%, #af0000 16.66%,
      #af7f00 16.66%, #af7f00 33.32%,
      #afaf00 33.32%, #afaf00 49.98%,
      #00af00 49.98%, #00af00 66.64%,
      #0000af 66.64%, #0000af 83.30%,
      #4f00af 83.30%, #4f00af 100%
    );
    color: white;
    font-family: "Arial", sans-serif;
  }
  .logo {
    display: block;
    margin: 0 auto;
    height: 100vh;
  }
  h1 {
    font-size: 8rem;
    margin-top: 2rem;
    margin-bottom: 0;
    text-align: center;
    font-weight: 900;
    font-family: "Arial Black", Arial, sans-serif;
  }
  p {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    max-width: 600px;
    margin: 2rem auto;
    margin-top: 0;
  }
  
  @media (max-width: 600px) {
    .logo {
      width: 100vw;
      height: auto;
    }
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.2rem;
      max-width: 90%;
    }
  }
</style>
