---
import Layout from "../layouts/Methabolift.astro";
---

<Layout>
  <di>
    <p>
      Фармакотерапевтическая группа: Биорегулятор метаболической пластичности
      (БМП), не является лекарственным средством
    </p>
    <p>Показания к применению: Объективных показаний нет</p>
    <p>
      Состав: Технология производства является запотентованной технологией,
      компания оставляет за собой возможность неразглашать полный состав. В 1
      капсуле содержится 100 мг активного вещества.
      <br />Аллергены: Содержит следы глютена и полиэстра
    </p>

    <p>
      Дозировка и режим приема: Капсула принимается не чаще 48 часов перорально,
      запивая большим количеством воды. Крайне нерекомендуется вскрывать капсулу
      и употреблять сожержимое перорально, ингаляционно, создавать растворы для
      инъекций или использовать любым другим способом, кроме рекомендованного.
    </p>

    <p>
      Побочные эффекты (могут возникать при превышении дозировки или
      неправильном использовании): Продукция Methabolift имеет строгую дозировку
      и может вызывать серьезные побочные эффекты при неправильном
      использовании. Важно строго следовать инструкциям по применению и не
      превышать рекомендованную дозу. Перед началом приема рекомендуется
      проконсультироваться с врачом, особенно если у вас есть хронические
      заболевания или вы принимаете другие лекарства.
    </p>
    Краткосрочные побочные эффекты (могут возникать при однократном приеме): Сердечно-сосудистая
    система: Тахикардия, аритмия, инфаркт, инсульт. Психика: Паника, паранойя, агрессия,
    галлюцинации, суицидальные мысли. Тело: Гипертермия, сильное обезвоживание, судороги.
    Поведение: Ажитация, рискованное сексуальное поведение. Также возможно впадение
    в кому.

    <br />Долгосрочные побочные эффекты (могут развиваться при регулярном
    использовании): Стоматология и кожа: Разрушение зубов, непроходящие язвы,
    угри. Нервная система: Болезнь Паркинсона, ухудшение памяти и когнитивных
    функций. Психика: Хронический психоз, тяжелая депрессия, суицидальные мысли,
    возможен дебют психиатрических расстройств. Тело и внешность: Резкое
    старение, потеря веса, анорексия, тусклые волосы и кожа

    <br />
    Терминальныйные побочные эффекты (могут привести к смерти при неправильном использовании):
    Остановки сердца, кровоизлияния в мозг, перегрев, отказ почек, судороги, остановка
    дыхания.
    <p>
      Общие противопоказания: Беременность и лактация, дети до 18 лет, люди не
      имеющие или имеющие проблемы с сердцем, психические заболевания,
      хронические заболевания, аллергия на компоненты
    </p>
    <p>
      Условия хранения и срок годности: Хранить в сухом, прохладном месте. Срок
      годности - 60 месяцев с момента открытия упаковки. КРАЙНЕ НЕРЕКОМЕНДУЕТСЯ
      утилизовать продукт в канализацию или мусор, сжигать или выливать в окно.
    </p>
    <p>
      Отказ от ответственности: БАД, не является лекарственным средством, не
      предназначен для диагностики, лечения или предотвращения каких-либо
      заболеваний. ФАО "Croesus Pharmology" не несет ответственности за любые
      побочные эффекты, травмы или смерти, возникшие в результате применения
      продукта.
    </p>
    <p>
      Передозировка: клиническая картина развивается отсроченно, специфического
      антидота нет. Рекомендуется вызывать специальную медицинскую помощь.
      Крайне не рекомендуется пытаться вывести препарат через мочегонные
      средства.
    </p>
    <p>
      Производитель: ФАО "Croesus Pharmology", ШансПолис, Цокольный этаж, 7 25°
      16, площадь 5/1. Все права защищены.
    </p>
  </di>
</Layout>
