---
---

<!doctype html>
<html lang="ru" style="width: 100%;">
	<head>
		<meta charset="UTF-8" />
		<title>ChanceCorp</title>
	</head>
	<body>
		<div class="container">
			<slot />
		</div>
	</body>
</html>